@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Telegraph";
  src: url("src/fonts/PPTelegraf-Regular.otf") format("truetype");
  font-weight: 400;
  line-height: 83.5%;
  letter-spacing: -2.5%;
}

.telegraph-custom {
  font-family: "Telegraph"; /* Fallback to a sans-serif font */
  line-height: 1.835; /* Set the desired line height (83.5% = 0.835, 100% = 1, etc.) */
  letter-spacing: -0.025em; /* Set the desired letter spacing */
}

.lato-custom {
  font-family: "Lato";
  line-height: 132%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
